.e-listbox-wrapper,
.e-list-item {
  border: none !important;
  background-color: transparent !important;
  border-radius: 0;
}
.e-listbox-wrapper .e-list-parent, .e-listbox-container .e-list-parent {
    min-height: 0 !important;
}

.e-listbox-wrapper .e-list-item.e-selected {
  background: rgb(17, 24, 39) !important;
}
.e-contextmenu-wrapper ul {
  background: rgb(47, 49, 54) !important;
  color: rgb(255, 193, 7) !important;
  border-radius: 5% !important;
  margin-left: 15px !important;
}
.e-tooltip-wrap {
  opacity: 1 !important;
  border: none !important;
}
.e-tooltip-wrap .e-tip-content {
  color: rgb(214, 214, 214) !important;
  font-size: 14px !important;
  font-family: Titillium Web !important;
  font-weight: 500!important;
  line-height: 20px !important;
  border: none !important;
  padding: 4px !important;
  text-align: center !important;
 
}
.e-tooltip-wrap.e-popup {
  background-color: rgb(17, 24, 39) !important;
}
.e-tooltip-wrap .e-arrow-tip-outer.e-tip-left {
  color: rgb(17, 24, 39) !important;
  border: none !important;
}
.e-tooltip-wrap .e-arrow-tip-inner.e-tip-left {
  color: rgb(17, 24, 39) !important;
  border: none !important;
}
.e-tooltip-wrap .e-arrow-tip.e-tip-left {
  border: none !important;
  color: rgb(17, 24, 39) !important;
}



