@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500;600;700&family=Titillium+Web:wght@300;400;600&display=swap");
@import "../node_modules/@syncfusion/ej2/material-dark.css";
*::before,
*::after {
  box-sizing: border-box;
  width: 100%;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web";
  font-weight: "400";
  background: #3c3c3c;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #334c53;
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background: #2f2f2f;
}

.user-nodrag {
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}
.user-drag {
 -webkit-app-region: drag;
}
.e-listbox-wrapper,
.e-list-item {
  border: none !important;
  background-color: transparent !important;
  border-radius: 0;
}
.e-listbox-wrapper .e-list-parent, .e-listbox-container .e-list-parent {
    min-height: 0 !important;
}

.e-listbox-wrapper .e-list-item.e-selected {
  background: rgb(17, 24, 39) !important;
}
.e-contextmenu-wrapper ul {
  background: rgb(47, 49, 54) !important;
  color: rgb(255, 193, 7) !important;
  border-radius: 5% !important;
  margin-left: 15px !important;
}