@import "../node_modules/@syncfusion/ej2/material-dark.css";
@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium Web'), url(./fonts/TitilliumWeb-Regular.ttf) format('truetype');
}
*::before,
*::after {
  box-sizing: border-box;
  width: 100%;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web";
  font-weight: "400";
  background: #3c3c3c;
  /* overflow-x: hidden;
  overflow-y: scroll; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334c53;
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background: #202225;
}

.user-nodrag {
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}
.user-drag {
 -webkit-app-region: drag;
}
.e-listbox-wrapper,
.e-list-item {
  border: none !important;
  background-color: transparent !important;
  border-radius: 0;
}
.e-listbox-wrapper .e-list-parent, .e-listbox-container .e-list-parent {
    min-height: 0 !important;
}

.e-listbox-wrapper .e-list-item.e-selected {
  background: rgb(17, 24, 39) !important;
}
.e-contextmenu-wrapper ul {
  background: rgb(47, 49, 54) !important;
  color: rgb(255, 193, 7) !important;
  border-radius: 5% !important;
  margin-left: 15px !important;
}